*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html{
    overflow-x: hidden;
}
nav{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
#checkbox_menu,
.toggle{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover{
    background: #ffcc01;
    border-radius: 3px;

}
.menu li a.logo{
    font-size: 25px;
    margin-right: 240px;

}
.menu li a.contacts{
    margin-right: 100px;
}



.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.intro{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.intro-img{
    background-image: url(img/room.jpg);
    width: 965px;
    height: 640px;
}
.intro .intro-text{
    position: absolute;
    font-size: 62px;
    right: 750px;
    top: 220px;
    color: #000;
}
.intro-contacts{
        background: #ffcc01;
       max-width: 590px;
       position: absolute;
       right: 124px;
       top: 638px;
       display: flex;
       justify-content: space-between;
       padding: 27px 50px;
}
.intro-contacts i{
    color: #fff;
    margin-right: 30px;
}
.intro-contacts p{
    font-size: 18px;
    margin-right: 60px;
}

.stats{
    display: flex;
    margin-top: 130px;
}
.stats-line{
    display: flex;
}
.stats-text{
    padding: 40px;
}
.stats-text h2{
    font-size: 40px;
    margin-bottom: 70px;
}
.stats-text p{
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square{
    font-size: 40px;
    color: #ffcc01;
    margin-bottom: 15px;
}
.square-text{
    font-style: 14px;
}

.apartments{
    background: #f6f5f4;
    padding: 60px 0px;
}
.apart h2{
    margin-bottom: 85px;
    font-size: 40px;
}
.card{
    max-width: 348px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-container{
    padding: 25px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card-info .money{
    font-style: 18px;
    color: #ffcc01;
}
.card-info i{
    margin-right: 8px;
} 
.card-info span:first-child{
    margin-right: 18px;
}

.card:hover{
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 30px;
}


.apart input[type=text]{
    margin-top: 50px;
    width: 300px;
    height: 70px;
    border: none;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: #919eb1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.apart input[type=submit]{
    width: 115px;
    border: none;
    height: 70px;
    background: #ffcc01;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;

}
.all{
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 52px;
    font-size: 15px;
}
.button-search{
    display: flex;
}

.steps h2{
    margin-top: 55px;
    font-size: 40px;
    margin-bottom: 35px;
}
.steps-text{
    line-height: 27px;
    font-size: 13px;
}
.mbtext{
    margin-bottom: 70px;
}
.stepblock{
    
}
@media screen and (max-width: 765px) {
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #ffcc01;
        transition: all .1s linear;
    }
    .toggle:hover{
        background: #fefefe;
    }
    #checkbox_menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox_menu:checked + label .touch{
        height: 350px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo{
        font-size: 21px;
        margin-right: 0px;
    
    }
    .menu li a.contacts{
        margin-right: 0px;
    }
    .intro{
        margin-top: 0;
        display: block;
        min-width: 100%;
    }
    .intro-img{
        background-position: bottom 50px right 570px;
    }
    .intro .intro-text{
        position: relative;
        font-size: 35px;
        right: -10px;
        top: 95px;
    }
    .intro .intro-contacts{
        right: 0px;
        top: -60px;
        padding: 20px 10px;
        position: relative;
    }
    .intro-contacts i{
        margin-right: 10px;
    }
    .intro-contacts p{
        font-size: 13px;
        margin-right: 0px;
    }
    .stats{
        margin-top: 0;
        flex-direction: column;
    }
    .stats-text{
        padding: 10px;
    }
    .stats-text h2{
        font-style: 30px;
        margin-bottom: 10px;
    }
    .stats-text p{
        margin-top: 5px;
        line-height: 18px;
        font-style: 13px;
    }
    .square{
        height: 140px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 10px;
        justify-items: center;
    }
    .apart input[type=text]{
        margin-top: 20px;
        width: 130px;
    }
    .button-search{
      flex-direction: column;
      margin-left: 4%;
    }
    .all{
        background: #fff;
        margin-top: 10px;
        margin-left: 0px;
    }
}